body{
    margin: 20px;
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Archivo Black', sans-serif;
}
i{
    font-size: 6em;
    margin: 40px;
    color: #d3c22f;
}
h1{
    font-size: 3em;
    margin-bottom: 40px;
}
.card{
    text-align: center;
    margin: 20px 0;
    padding: 40px;
    border-radius: 20px;
    background-color: #000;
    color: white;
    box-shadow: 0 0 10px 0 grey;
}
button{
    padding: 30px 10px !important;
    border-radius: 20px !important;
    width: 200px;
    margin: auto;
    background-color: #D32F2F !important;
    border: none !important;
}
button:hover{
    background-color: #c02a2a !important;
}
button:active{
    background-color: #a12424 !important;
}
input{
    padding: 15px 10px;
    border-radius: 20px;
    margin: 20px 0;
    border: 1px solid #000;
    width: 200px;
}
input[type='submit']{
    padding: 30px 10px !important;
    border-radius: 20px !important;
    width: 200px;
    margin: auto;
    background-color: #D32F2F !important;
    border: none !important;
}
input[type='submit']:hover{
    background-color: #c02a2a !important;
}
input[type='submit']:active{
    background-color: #a12424 !important;
}

#numbers-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
#numbers-container p{
    font-size: 4em;
    border-radius: 10px;
    font-weight: bold;
    background-color: #D32F2F;
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
    margin-top: 20px;
    width: 150px;
}