body{
    margin: 20px;
    box-sizing: border-box;
    background-color: #fff;
}
h1{
    font-size: 3em;
    margin-bottom: 40px;
}
.card{
    text-align: center;
    margin: 20px 0;
    padding: 40px;
    border-radius: 20px;
    background-color: #000;
    color: white;
}
button{
    padding: 30px 10px !important;
    border-radius: 20px !important;
    width: 200px;
    margin: auto;
    background-color: #D32F2F !important;
    border: none !important;
}
button:hover{
    background-color: #c02a2a !important;
}
button:active{
    background-color: #a12424 !important;
}
input{
    padding: 15px 10px;
    border-radius: 20px;
    margin: 20px 0;
    border: 1px solid #000;
    width: 200px;
}
input[type='submit']{
    padding: 30px 10px !important;
    border-radius: 20px !important;
    width: 200px;
    margin: auto;
    background-color: #D32F2F !important;
    border: none !important;
}
input[type='submit']:hover{
    background-color: #c02a2a !important;
}
input[type='submit']:active{
    background-color: #a12424 !important;
}